name: Update all csv-files from schnitzler-briefe-data

on:
  workflow_dispatch:
  repository_dispatch:
    types: [data-updated]

jobs:
  build_pages:
    name: Copy data to repo
    runs-on: ubuntu-latest
    env:
      ANT_OPTS: -Xmx6g
    steps:
    - name: Perform Checkout
      uses: actions/checkout@v4
    - name: Fetch and preprocess Data
      run: |
        ./fetch_data.sh
    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Downloaded/Updated Data
